# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Build artifacts
dist/
build/
*.egg-info/

# Generated HTML
*.html

build
.idea
landslide/.idea
presentation.html
*.pdf
examples/.DS_Store
*.swp
landslide.egg-info
*.komodoproject
.komodotools
landslide.sublime-project
docs/_build
venv
.tox
